* {
    font-family: monospace;
    font-size: 14px;
}

window {
    background-color: #111111;
    border-radius: 8px;
}

#input {
    margin: 10px;
    padding: 6px;
    border: none;
    outline: none;
    background-color: #1a1a1a;
    color: #dddddd;
}

#inner-box {
    margin: 0 10px 10px 10px;
}

#entry {
    padding: 6px;
    color: #cccccc;
}

#entry:selected {
    background-color: #333333;
    color: #ffffff;
}
